$font-n27: "N27", sans-serif
$font-body: "Garamond", serif

$heading-font-family: $font-body
$body-font-family: $font-body

$header-background: white
$header-border-bottom-width: 0
$header-logo-height: 60px
$header-logo-height-desktop: 100px
$hero-background-color: none
$footer-background-color: none
$footer-logo-height: $header-logo-height
$footer-logo-height-desktop: $header-logo-height-desktop

$h1-font-family: $font-n27
$h1-text-transform: uppercase
$h1-weight: bold
$h2-weight: normal
$meta-font-family: $font-n27
